
header {
   padding: 5px;
    background-color: blueviolet;
    text-align: justify;
   
}
nav {
     background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
   
}
    li {
    display: inline;
    padding: 10px;
    }
    footer {
        display: block;
        text-align: right;
        margin: 20px;
       
      }
      seaction {
          padding: 10px;
      }